<header>
    <div>
        <img src="/static/logo.png" alt="logo">
        <h1> Tomorrowland</h1>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/music">Music</a>
        <a href="/sobre">Sobre</a>
    </nav>
</header>