<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <h1>Ingresso reservado</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ivuJ0sr6KMY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
</html>
