<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <h1>Obrigado pelas informações. <span id="usuario"></span></h1>
    <p>
        Nós recebemos sua mensagem, verifique a disponibilidade de ingressos.
    </p>   
    <form method="POST" action="/confirmar">
        <select name="djs" size="4">
            <option value="Martin Garrix - Pista premium - R$850">Pista premium - R$850</option>
            <option value="Dimitri Vegas e Like Mike - Pista vip - R$750">Pista vip - R$750</option>
            <option value="Armin Van Buuren- Camarote Land - R$1500">Camarote Land - R$1500</option>
            <option value="Hardwell- Camarote Tomorrow - R$1500">Camarote Tomorrow - R$1500</option>
        </select>
        <button>Enviar</button>
    </form>
</body>
</html>
