<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <h1>Obrigado</h1>
    <p>
        Nós recebemos sua mensagem e nossa equipe entrará em contato em breve com um gatinho fofo.
    </p>    
</body>
</html>
